---
layout: default
---

{% include header.html %}

<div class = "container">
<!-- Promo Text-->
	<div class="sixteen columns promotext">
		<!--<h1>Start Renting <span>Now</span> at <span>30%</span> MRP!</h1>
		<h3>Our Services</h3>-->
		<h1>Our <span>Company</span></h1>
		<br>
		<h3><span>TextRent</span> wishes to popularize the concept of renting textbooks. As of now, you'll find our happy customers only in <a href="#">Kerala University</a>. We're slowly <a href="goals.html#expand">expanding</a>.
		<hr>
		Rent, Return, Save. It’s as <span>simple</span> as that.</h3>
	</div>
<!-- Promo Text -->

<!-- Section 1 -->
	<div class="row">
		<div class="ten columns sectiontext">
			<!--<h1><span>Rent</span> textbooks, <span>Save</span> money</h1>-->
			<h1>Service-minded <span>Initiative</span></h1>
			<h3>We are college students like you who know the hardships of student life. All we are trying to do is make it easier for people like us to procure books at cheaper costs and return them after use.</h3>
				<!--
			<ul>
				<li>Use our website on all devices</li>
				<li>Why buy books, when you can rent?</li>
				<li>Simple and intuitive design</li>
				<li>Groudbreaking business principles</li>
				<li>Flabbergasting revelations</li>
			</ul> -->

		</div>

		<div class="six columns sectionimage">
			<img src="img/green-book.png">
		</div>
	</div>
<!-- Section 1-->


<!-- Section 2 -->
	<div class="row">
		<div class="six columns sectionimage">
			<img src="img/website.png">
		</div>
		<div class="ten columns sectiontext">

			<h1><span>Transparent</span> System</h1>
			<h3>It is simple and easy to work with us. From the moment you confirm your order the wheels are set in motion and within a week the book will reach your hands. All our dealings are transparent and clear.</h3>
					
		</div>
	</div>
<!-- Section 2-->


<!-- Section 3 -->
<!--
	<div class="row">
		<div class="ten columns sectiontext">

			<h1>An All-India <span>Renting</span> Service</h1>
			<h3>We currently provide our services only in select colleges. Someday we plan to launch an All-India Portal and we're working very hard towards acheiving the same.</h3>
					
		</div>
		<div class="six columns sectionimage">
			<img src="img/green-book.png">
		</div>
	</div>-->
<!-- Section 3-->

<!-- Section 4 -->
<!--
	<div class="row">
		<div class="six columns sectionimage">
			<img src="img/red-book.png">
		</div>
		<div class="ten columns sectiontext">

			<h1>Person-to-person <span>delivery</span></h1>
			<h3>Our college reps will deliver your orders directly to you. Check for our stickers and logo. You can approach our reps if you have questions or if you simply wish to know more about our services.</h3>
					
		</div>
	</div> -->
<!-- Section 4-->
		

<!-- Section 5 -->
<!--
	<div class="row">
		<div class="ten columns sectiontext">

			<h1>Flexible <span>Rental</span> period</h1>
			<h3>We typically rent out textbooks for 6 months. This is longer than a standard semester. However, rental periods are flexible. Notify us and they can be adjusted to fit your convenience.</h3>
					
		</div>
		<div class="six columns sectionimage">
			<img src="img/tmgreen.png">
		</div>
	</div>-->
<!-- Section 5-->		
	
</div>

{% include footer.html %}

