---
layout: default
---

{% include header.html %}

<div class = "container">
<!-- Promo Text-->
	<div class="sixteen columns promotext">
		<!--<h1>Start Renting <span>Now</span> at <span>30%</span> MRP!</h1>
		<h3>Our Services</h3>-->
		<h1>Frequently asked <span>Questions</span></h1>
		<br>
		<h3>
			Any questions? Contact Us.
		</h3>
	</div>
<!-- Promo Text -->
	<div class="faqs">
		<p>
			<span>How do I register at TextRent.in?</span>
			<br><br>
			You can sign-up with your e-mail ID. You’ll need to set a password for your TextRent.in account and you would need to remember the same.
		</p>
		<hr>

		<p>
			<span>Is it mandatory to enter the College & Stream that I belong to?</span>
			<br><br>
			Yes. It helps us to recommend books that your college has prescribed to you and it becomes easier for you when you login subsequently.
		</p>
		<hr>
		<p>
			<span>How do I search for books on TextRent.in?</span>
			<br><br>
			Searching books on TextRent.in is very easy. You can search by Title by entering the Title into the form in the sidebar. Searching will rarely be necessary though. The textbooks prescribed to you have been arranged according to Semester>Courses.
		</p>
		<hr>
		<p>
			<span>Do I need to have a credit card/net banking account to purchase from TextRent.in?</span>
			<br><br>
			No. We currently only work with selected universities where we have college representatives. So the mode of payment will be offline (cash on delivery).
		</p>
		<hr>
		<p>
			<span>How will the books be sent to me?</span>
			<br><br>
			The books will be securely packed and shipped to your nearest College Representative through reputed couriers. The books will be delivered to you by the College Representative within 7 working days from the date of confirming the order.
		</p>
		<hr>
		<p>
			<span>What if I receive a damaged or incorrect order?</span>
			<br><br>
			We take utmost care that you always receive what you have ordered for. But if due to any human error you receive an incorrect or damaged order, please notify your respective College Representative or write to us at operations@textrent.in and we will replace the order at the earliest and free of cost for you.
		</p>
		<hr>
		<p>
			<span>How do I contact you for any queries?</span>
			<br><br>
			You can write to us at operations@textrent.in. We usually resolve queries within 1 working day. Alternatively, for urgent issues you can call your respective College Representatives.
		</p>
		<hr>
		<p>
			<span>Is there any registration fee on TextRent.in?</span>
			<br><br>
			No, there is no registration fee to rent books on TextRent.in. You can simply log onto the website and enjoy browsing through books and make your selection.
		</p>
		<hr>
		<p>
			<span>What is the time taken to deliver the books?</span>
			<br>
			<br>
			7 working days is usually the time taken to deliver the books to you.
		</p>
		<hr>
		<p>
			<span>Are there any shipping charges?</span>
			<br><br>
			We provide Free Shipping for all orders, however small.
		</p>

		<hr>

		<p>
			<span>What if any book is unavailable on TextRent.in but I wish to rent it?</span>
			<br><br>
			For all the books that are not a part of our catalog at the moment, please use the form to notify us if the search of the book yields no results. We continuously add new books from user requests and will keep you posted when the book you desire is available for purchase or rent.
		</p>

		<hr>

		<p>
			<span>What is the Security Deposit?</span>
			<br><br>
			Security Deposit is 70% of the MRP Value of the book that you are renting. We collect this amount as a Security Deposit and will be refunded to you once you’ve returned the books.
		</p>

		<hr>

		<p>
			<span>How do I return the rented book?</span>
			<br><br>
			We arrange for collection of books free of cost once your exams are over. Please get in touch with operations@textrent.in in case you need to return books in between.
		</p>

		<hr>

		<p>
			<span>How do I remember the return date?</span>
			<br><br>
			Return dates pretty much coincide with the beginning of your next semester. You can use the books till your exams are over and within a period of 20 days we would expect you to contact us to arrange for a collection.
		</p>

		<hr>

		<p>
			<span>What if I want to purchase the rented book?</span>
			<br><br>
			If after reading the rented book you want to keep the copy with you forever, you surely can. All you have to do is to write to operations@textrent.in with book details, order no and your details to keep the book with you forever. Alternatively, you can call one of your College Representatives and notify him/her of the same. Security Deposit will not be refunded in this case.
		</p>

		<hr>

		<p>
			<span>What if the book I have rented gets damaged by me?</span>
			<br><br>
			We will accept the book in case of minimal wearing out that will occur due to normal usage of the book. We also allow, to an extent, highlighting in the books by pencil. Once the book reaches back to us, we will check the condition of the book. In case, the book is in reusable condition, we would refund the security deposit that we owe you. In case of worn out but still useable book we will refund only 40% of MRP, not 70%. In case the book is rendered useless by us, the no amount will be refunded back to you and you are free to come back and collect the book from us. In all the cases, we will reach out to you with a detailed mail before processing the payment.

		</p>

		<hr>

		<p>
			<span>How will the Security Deposit be refunded to me?</span>
			<br><br>
			When your College Representative comes to collect the book(s) he/she will check the condition of the book and pay you accordingly.
		</p>

		<hr>

		<p>
			<span>What is the deposit amount for the rented books?</span>
			<br><br>
			Deposit amount is the MRP of the book. It includes book rent as well. Post returning the book refundable deposit (deposit – rent) will be credited back to your account.
		</p>

		<hr>

		<p>
			<span>How many books can I rent from TextRent.in?</span>
			<br><br>
			You can rent as many books from us as you wish to.
		</p>
		
	</div>

	
</div>

{% include footer.html %}

