---
layout: default
---

{% include header.html %}

<div class = "container">
<!-- Promo Text-->
	<div class="sixteen columns promotext" id="title">
		<!--<h1>Start Renting <span>Now</span> at <span>30%</span> MRP!</h1>
		<h3>Our Services</h3>-->
		<h1>Our <span>Goals</span></h1>
	</div>
<!-- Promo Text -->

<!-- Section 1 -->
	<div class="row">
		<div class="ten columns sectiontext">
			<!--<h1><span>Rent</span> textbooks, <span>Save</span> money</h1>-->
			<h1>Make <span>Renting</span> Popular</h1>
			<h3>Renting textbooks is an obvious but uncommon choice for students who wish to save money on textbooks. We wish to make renting popular among college students. It is a logical and beneficial concept prevalent in Western countries that is yet to set a stronghold in our country.</h3>
				<!--
			<ul>
				<li>Use our website on all devices</li>
				<li>Why buy books, when you can rent?</li>
				<li>Simple and intuitive design</li>
				<li>Groudbreaking business principles</li>
				<li>Flabbergasting revelations</li>
			</ul> -->

		</div>

		<div class="six columns sectionimage">
			<img src="img/rise.png">
		</div>
	</div>
<!-- Section 1-->


<!-- Section 2 -->
	<div class="row">
		<div class="six columns sectionimage">
			<img src="img/money.png">
		</div>
		<div class="ten columns sectiontext">

			<h1>Help students <span>Save</span> money</h1>
			<h3>Education does not come cheap, nor do textbooks. We intend to provide students with good reasons to opt for our book renting service and thus, help them lead a more economic college life.</h3>
					
		</div>
	</div>
<!-- Section 2-->


<!-- Section 3 -->
		<div class="row">
		<div class="ten columns sectiontext" id="expand">

			<h1>Slowly <span>Expand</span></h1>
			<h3>We currently provide our services only in Kerala University. We're planning on expanding into a few other colleges. Someday we plan to launch an All-India Portal. If you think that you could help us achieve our goals, write to us at operations@textrent.in.</h3>
					
		</div>
		<div class="six columns sectionimage">
			<img src="img/website.png">
		</div>
	</div>
<!-- Section 3-->

<!-- Section 4 -->
<!--
	<div class="row">
		<div class="six columns sectionimage">
			<img src="img/red-book.png">
		</div>
		<div class="ten columns sectiontext">

			<h1>Person-to-person <span>delivery</span></h1>
			<h3>Our college reps will deliver your orders directly to you. Check for our stickers and logo. You can approach our reps if you have questions or if you simply wish to know more about our services.</h3>
					
		</div>
	</div> -->
<!-- Section 4-->
		

<!-- Section 5 -->
<!--
	<div class="row">
		<div class="ten columns sectiontext">

			<h1>Flexible <span>Rental</span> period</h1>
			<h3>We typically rent out textbooks for 6 months. This is longer than a standard semester. However, rental periods are flexible. Notify us and they can be adjusted to fit your convenience.</h3>
					
		</div>
		<div class="six columns sectionimage">
			<img src="img/tmgreen.png">
		</div>
	</div>-->
<!-- Section 5-->		
	
</div>

{% include footer.html %}

