---
layout: default
---

{% include header.html %}

<div class = "container">
<!-- Promo Text-->
	<div class="sixteen columns promotext" id="title">
		<!--<h1>Start Renting <span>Now</span> at <span>30%</span> MRP!</h1>
		<h3>Our Services</h3>-->
		<h1>We're <span>Hiring!</span></h1>
		<br>
		<h3>
			Would you like to work with us?
		</h3>		
	</div>
<!-- Promo Text -->
	<div class="text">
		<h2>Job Opening : College Representative(IIT Ropar)</h2>
		<h3>Location</h3>
		<p>
		IIT Ropar
		</p>
		<h3>Pay</h3>
		<p>
		Based on performance, potential of earning upto Rs.5000 per month. 
		</p>
		<h3>Last date for applying</h3>
		<p>
		30th July 2013
		</p>
		<h3>Description</h3>
		<p>
			We'd like someone to be the face of the brand TextRent.in at your campus.
			<br><br>
			You will help us in creating an awareness among your fellow students about the services that we offer and the benefits of renting textbooks.
			<br><br>
			You will work closely with our operations team in devising a marketing strategy for your campus. This includes identifying popular books & trends in book-buying and helping us acquire the data to setup a website for your college.
			<br><br>
			You will act as a mediator between the student community at your college and TextRent.in
		</p>
		<h3>Who can Apply?</h3>
		<p>
			Anyone, as long as you're currently studying in IIT Ropar. Fresher/Senior, Boy/Girl - Doesn't matter. We love start-up junkies and wannabe entrepreneurs. 
		</p>
		<h3>Preferred Skills</h3>
		<p>
			Good Communication Skills
			<br><br>
			Offline & Online Marketing
			<br><br>
			Interested in working with a startup
		</p>
		
		<h3>How to Apply</h3>
		<p>
			Write to us at operations@textrent.in. No resumes/CVs please. Just a short description of why you think that we should hire you and link(s) to your public profiles (Facebook/Twitter). 
		</p>
	</div>

	
</div>

{% include footer.html %}

