---
layout: default
---

{% include header.html %}
	
<!-- Colleges Text-->
	<div class="container">
		<div class="sixteen columns promotext" id="title">
			<h1>Start Renting <span>Now</span> at <span>30%</span> MRP!</h1>
			<h3>Select your College</h3>
		</div>
		<!-- Colleges Thumbnails -->
		<div class="row" id="collegethumb">
			<!--<div class="eight columns">
				<div class="collegepic">
					
				</div>


			</div>
			<div class="eight columns">
				<div class="collegepic">
					
				</div>
			</div>-->
			<div class="one-third column">
				<a href="http://keralauniv.textrent.in/">
					<div class="collegepic" id="collegekerala">
						<div class="collegethumbtext">
							<h2>Kerala University</h2>
						</div>
					</div>
				</a>
			</div>
			
			<div class="one-third column" >
				<div class="collegepic" id="collegeropar">
					<div class="collegethumbtext">
						<a href="hiring.html#title"><h2>IIT<br> Ropar</h2></a>
					</div>
				</div>
			</div>

			<div class="one-third column" >
				<a href="http://bitspilani.textrent.in/">
					<div class="collegepic" id="collegecalicut">
						<div class="collegethumbtext">
							<h2>BITS<br> Pilani</h2>
						</div>
					</div>
				</a>
			</div>
		</div>
		<!-- ORDER -->
		<!--
		<div class="row promo">
			<div class="one-third column promo">
				<div class="centerize">
					RENT
				</div>
			</div>
			<div class="two-thirds column promo" id="rentbg">
				<img src="img/books.jpg">
				<div class="centerize">
					Rent your books by placing an order on our site.
				</div>
			</div>
		</div> -->
		<div class="sixteen columns promotext">
			<h1>Why buy textbooks, when you can <span>Rent</span>?
			<!-- <h3>Features</h3> -->
		</div>
		<hr/>
		<div class="row" id="feature">
			<div class="four columns feature">
				<img src="img/order.png">
				<h3>Place an order with us either online or by phone.</h3>
			</div>

			<div class="four columns feature">
				<img src="img/receive.png">
				<h3>Receive your order within 7 days.</h3>
			</div>

			<div class="four columns feature">
				<img src="img/use.png">
				<h3>Use your books for the whole semester.</h3>
			</div>
			<div class="four columns feature">
				<img src="img/return.png">
				<h3>Once you're done, notify us and we'll schedule a pickup.</h3>
			</div>
		</div>
		<!--
		<div class="sixteen columns" id="rentbg1">

		</div>

		<div class="sixteen columns" id="rentbg2">

		</div>

		<div class="sixteen columns" id="rentbg3">

		</div> -->
        <!--
		<div class="sixteen columns promoimg">
			<img src='img/coverbig.jpg'/>		
		</div> -->
	</div>


{% include footer.html %}

