---
layout: default
---

{% include header.html %}

<div class = "container">
<!-- Promo Text-->
	<div class="sixteen columns promotext">
		<!--<h1>Start Renting <span>Now</span> at <span>30%</span> MRP!</h1>
		<h3>Our Services</h3>-->
		<h1>Our <span>Services</span></h1>
	</div>
<!-- Promo Text -->

<!-- Section 1 -->
	<div class="row">
		<div class="ten columns sectiontext">
			<!--<h1><span>Rent</span> textbooks, <span>Save</span> money</h1>-->
			<h1><span>Cheaper</span> textbooks</h1>
			<h3>Get the textbooks you need at cheaper prices. Don’t pay more than you need to. With us you save 70% of your money spent on every book. Good deals get us happier customers.</h3>
				<!--
			<ul>
				<li>Use our website on all devices</li>
				<li>Why buy books, when you can rent?</li>
				<li>Simple and intuitive design</li>
				<li>Groudbreaking business principles</li>
				<li>Flabbergasting revelations</li>
			</ul> -->

		</div>

		<div class="six columns sectionimage">
			<img src="img/money.png">
		</div>
	</div>
<!-- Section 1-->


<!-- Section 2 -->
	<div class="row">
		<div class="six columns sectionimage">
			<img src="img/website.png">
		</div>
		<div class="ten columns sectiontext">

			<h1>Order from <span>Anywhere</span></h1>
			<h3>Our website is accessible on PC, mobiles and tablets. Order your texts online or contact one of our college reps in your institution. Either way, our services are at your fingertips.</h3>
					
		</div>
	</div>
<!-- Section 2-->


<!-- Section 3 -->
	<div class="row">
		<div class="ten columns sectiontext">

			<h1>Retain <span>Rented</span> Textbooks</h1>
			<h3>Decided that you want to retain the text you rented? We understand. Don't schedule a pickup. We'll call you to confirm. You get to keep the book. Forever.</h3>
					
		</div>
		<div class="six columns sectionimage">
			<img src="img/green-book.png">
		</div>
	</div>
<!-- Section 3-->

<!-- Section 4 -->
	<div class="row">
		<div class="six columns sectionimage">
			<img src="img/red-book.png">
		</div>
		<div class="ten columns sectiontext">

			<h1>Person-to-person <span>delivery</span></h1>
			<h3>Our college reps will deliver your orders directly to you. Check for our stickers and logo. You can approach our reps if you have questions or if you simply wish to know more about our services.</h3>
					
		</div>
	</div>
<!-- Section 4-->
		

<!-- Section 5 -->
	<div class="row">
		<div class="ten columns sectiontext">

			<h1>Flexible <span>Rental</span> period</h1>
			<h3>We typically rent out textbooks for 6 months. This is longer than a standard semester. However, rental periods are flexible. Notify us and they can be adjusted to fit your convenience.</h3>
					
		</div>
		<div class="six columns sectionimage">
			<img src="img/tmgreen.png">
		</div>
	</div>
<!-- Section 5-->		
	
</div>

{% include footer.html %}

