---
layout: default
---

{% include header.html %}

<div class = "container">
<!-- Promo Text-->
	<div class="sixteen columns promotext" id="title">
		<!--<h1>Start Renting <span>Now</span> at <span>30%</span> MRP!</h1>
		<h3>Our Services</h3>-->
		<h1>Terms of <span>Use</span></h1>
		<br>
		
	</div>
<!-- Promo Text -->
	<div class="text">
		<p>This website is intended for use by students wishing to rent textbooks, learn more about textbook rental services offered by us, use other resources provided by us, or who are comparison shopping for their textbook needs. All content of this site, including our logo, graphics, and text, is the intellectual property of TextRent.in and is protected by trademark and copyright laws. Any use of this site for purposes other than those specified above is prohibited.</p>

		<p>The quoted rental prices do not become contractually binding according to the rental agreement until the renter goes through the checkout process and accepts the rental agreement. Prices are subject to change at any moment depending on information from our suppliers. TextRent.in does not guarantee prices will be the same for any book that is not rented at the time quote was generated and the book was placed in the shopping cart.</p>

		<p>By registering with <a href="index.html">TextRent.in</a>, you allow TextRent.in to communicate directly to you via email regarding rental return reminders, account status updates, order confirmations etc.</p>

		<p>TextRent.in reserves the right to change or modify this site, our terms of use, service policy, privacy policy, or rental agreement at any time without any notification. Please check back often.</p>

		<p>TextRent.in shall not be held liable in any form for damages of any kind stemming from the use or nonuse of this site.</p>
		
	</div>

	
</div>

{% include footer.html %}

