---
layout: default
---

{% include header.html %}

<div class = "container">
<!-- Promo Text-->
	<div class="sixteen columns promotext">
		<!--<h1>Start Renting <span>Now</span> at <span>30%</span> MRP!</h1>
		<h3>Our Services</h3>-->
		<h1>Why <span>Rent</span>?</h1>
	</div>
<!-- Promo Text -->


<!-- Section 1 -->
	<div class="row">
		<div class="ten columns sectiontext">

			<h1>Why <span>Not</span>?</h1>
			<h3>It's cheap, convenient, saves you deskspace and saves the environment.</h3>
					
		</div>
		<div class="six columns sectionimage">
			<img src="img/green-book.png">
		</div>
	</div>
<!-- Section 1-->

<!-- Section 2 -->
	<div class="row">
		
		<div class="six columns sectionimage">
			<img src="img/money.png">
		</div>
		<div class="ten columns sectiontext">
			<!--<h1><span>Rent</span> textbooks, <span>Save</span> money</h1>-->
			<h1>It's <span>Cheap</span>.</h1>
			<h3>Why would you want to shell out cash and buy textbooks when you can easily rent them online? That’s right, you wouldn’t. </h3>
				<!--
			<ul>
				<li>Use our website on all devices</li>
				<li>Why buy books, when you can rent?</li>
				<li>Simple and intuitive design</li>
				<li>Groudbreaking business principles</li>
				<li>Flabbergasting revelations</li>
			</ul> -->

		</div>

	</div>
<!-- Section 2-->


<!-- Section 3 -->
	<div class="row">
		
		<div class="ten columns sectiontext">

			<h1>It's <span>Convenient</span>.</h1>
			<h3>Why go through the pain of going to a bookstore and buying your textbooks? Place an order with us and a representative will come and hand over the books to you in person.</h3>
					
		</div>
		<div class="six columns sectionimage">
			<img src="img/website.png">
		</div>
	</div>
<!-- Section 3-->



<!-- Section 4 -->
<!--
	<div class="row">
		<div class="six columns sectionimage">
			<img src="img/red-book.png">
		</div>
		<div class="ten columns sectiontext">

			<h1>Person-to-person <span>delivery</span></h1>
			<h3>Our college reps will deliver your orders directly to you. Check for our stickers and logo. You can approach our reps if you have questions or if you simply wish to know more about our services.</h3>
					
		</div>
	</div> -->
<!-- Section 4-->
		

<!-- Section 5 -->
<!--
	<div class="row">
		<div class="ten columns sectiontext">

			<h1>Flexible <span>Rental</span> period</h1>
			<h3>We typically rent out textbooks for 6 months. This is longer than a standard semester. However, rental periods are flexible. Notify us and they can be adjusted to fit your convenience.</h3>
					
		</div>
		<div class="six columns sectionimage">
			<img src="img/tmgreen.png">
		</div>
	</div>-->
<!-- Section 5-->		
	
</div>

{% include footer.html %}

