		<!-- Footer -->
		
	</div><!-- container -->
	<div id="footcontain">
	<div class="container" id="footer">
		<div class = "row">
			<div class="two columns footerelement leftfooter">
				<h3>TextRent</h3>
				<hr>
				<ul>
					<li>
						<a href="services.html">Our Services</a>
					</li>
					<li>
						<a>Why Rent?</a>
					</li>
					<li>
						<a>Rent Now</a>
					</li>
				</ul>
			</div>
			<div class="two columns offset-by-one footerelement leftfooter">
				<h3>About Us</h3>
				<hr>
				<ul>
					<li>
						<a>Our Company</a>
					</li>
					<li>
						<a>Our Goals</a>
					</li>
					<li>
						<a>Our Team</a>
					</li>
				</ul>
			</div>
			<div class="two columns offset-by-two footerelement" id="footerlogo">
				<div id="footercenter">
					<a href="#">
					<img src="img/footericon.png" /></a>
				</div>
			</div>
			<div class="two columns offset-by-two footerelement rightfooter">
				<h3>Contact Us</h3>
				<hr>
				<ul>
					<li>
						<a>Facebook</a>
					</li>
					<li>
						<a>Twitter</a>
					</li>
					<li>
						<a>Email</a>
					</li>
				</ul>
			</div>
			<div class="two columns offset-by-one footerelement rightfooter">
				<h3>Support</h3>
				<hr>
				<ul>
					<li>
						<a>Terms of Use</a>
					</li>
					<li>
						<a>Privacy Policy</a>
					</li>
					<li>
						<a>FAQs</a>
					</li>
				</ul>
			</div>
		</div>
	</div>


	<div class="sixteen columns" id="footnote">
			&copy; 2013 TextRent.in All Rights Reserved. | <a href="mailto:operations@textrent.in">operations@textrent.in</a>
	</div>
</div>		
