
	<!-- Primary Page Layout
	================================================== -->

	<!-- Delete everything in this .container and get started on your own site! -->

	<div class="container">
		<!-- Header -->
		<div class="sixteen columns">
			<div id="mainlogo"><a href="index.html"><img src="img/logo.png" /></a>
			<!--Text<span>Rent</span>.in-->
			</div>
		</div>

		<!-- Main Navigation-->
		<div class="sixteen columns">
			<div id="nav">
				<ul>
					<!--<li class="active">-->
					<li>
						<a href="index.html#title">Rent Now</a>
					</li>
					<li>
						<a href="services.html#title">Learn More</a>
					</li>
					<li>
						<a href="#footer">Say Hello</a>
					</li>
				</ul>

			</div>

		</div>
    </div>
